.empty-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 27.5rem;

  p,
  h2 {
    margin: 0;
  }
}

.empty-card-illustration {
  height: 15rem;
  width: auto;
}
