:root {
  --primary-color: #ff0000;
  --secondary-color: #00205b;
  --neutral-color: #f7f7f2;
  --tertiary-color: #778ad3;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--neutral-color);
  margin: 0;
}

button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  font-weight: 700;
  &:hover {
    filter: brightness(90%);
  }
}

.card {
  border-radius: 0.5rem;
  background: white;
  padding: 1rem 1.5rem;
}

button.primary {
  background-color: var(--primary-color);
  color: white;
}

button.secondary {
  color: var(--secondary-color);
}

input {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.chip {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 1.5rem;
}

.main-container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: calc(100% - 1rem);
    padding: 0 1rem;
  }
}

// animations
.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom1 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
